
.li_item_comp{
    margin: 1em;
    list-style-type: disc !important;
    font-size: 1.618em  !important;
    font-weight: bold;
}
.ul_comp{
    list-style-type: disc !important;
}
.com_title{
    font-size: 2em  !important;
    font-weight: bold;
}
.item_logo_text{
    font-weight: bold;
}
.item_phone{
    font-weight: bold;

}
.item_font_bold{
    font-weight: bold  !important;
}
.item_title_block{
    font-size: 2em !important;
    font-weight: bold !important;
}
.item_utp{
    padding: 0.5em  !important;
    font-weight: bold !important;
    color: #fff ;
    font-size: 1.8rem  !important;
    padding-left: 0 !important;
    padding-bottom: 0 !important;
}

.item_utp_subtitle{
    margin-top: 0;
    font-size: 1.4rem  !important;
    color: #fff;
}

.item_h1{
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    padding: 0.191em;
}
.item_utp_a{
    background-color: #FF1744;
}
.item_utp_b{
    background-color: #ff5722 ;
}
.item_utp_c{
    background-color: #ffea00;
}
.item_utp_d{
    background-color: #7ed40d;
}
.item_utp_e{
    background-color: #0d9dd4;
}
.item_utp_f{
    background-color: #0d13d4;
}
.item_utp_g{
    background-color: #d40d4d;
}

.avg_h1{
    text-transform: uppercase;
    font-size: 2.2rem;
    font-weight: bold;
}

.avg_reclame_title{
    text-transform: uppercase;
    font-size: 52px;
    line-height: 48px;
    font-weight: bold;
}

span.avg_reclame_title{
    display: block;
    font-size: 36px;
    font-weight: normal;
}

.avg_reclame_price{
    font-size: 24px;
}

.avg_reclame_val{
    font-size: 40px;
    font-weight: bold;
}

.avg_sale_img{
    width: 70%;
    margin: 0 auto;
    display: block;
}

.rev_photo{
    max-width: 320px;
    display: block;
    margin: 0 auto
}
h4 {

    margin: 3.52rem 0 0.912rem 0 !important;
}

.cont_utm{
    display: inline-block;
    float: none;
    width: 100%;
}
.cont_utm_col_icon{
    display: block;
    float: left;
    margin-top: 43px;
    width: 10%;
}

.cont_utm_col_text{
    display: block;
    float: right;
    width: 90%;
}
.utm_icon{
    font-size: 3.3rem !important;
}

.oferr_timer{
    color: red;
    font-weight: bold;
    font-size: 91px;
    text-align: center;
    line-height: 91px;
    margin-bottom: 2rem  !important;
}

.offer_btn{
    height: 66px !important;
    line-height: 66px !important;
    font-size: 32px !important;
    padding: 0px 32px !important;
}

.offer_promo_text{
    color: white !important;
    font-size: 26px !important;
    line-height: 26px !important;
    text-align: center !important;
    font-weight: bold !important;
    margin-top: 2rem !important;
}

.offer_cont{
    background-color: #000000 !important;
}
.offer_wrap{
    background-color: #000000 !important;
}

.admin_opt_info_text{
    font-size: 26px !important;
    line-height: 36px !important;

}